<!DOCTYPE HTML>
<head>
	<script src = "/static/sidebar.js"></script>	
	<link rel = 'stylesheet' href = "/static/stylesheets/welcome_nav.css">
</head>
<div class = "hamburger">
	<button class = "show-sidebar">
		<span></span>
		<span></span>
		<span></span>
	</button>
</div>
<div class = "mobile-sidebar">
	<a href = "/home">Home</a>
	<a href = "/about">About</a>
	<a href = "/signup">Signup</a>
	<a href = "/login">Login</a>
</div>
<nav>
	<a href = "/home">Home</a>
	<a href = "/about">About</a>
	<a href = "/signup">Signup</a>
	<a href = "/login">Login</a>
</nav>
