@import '_variables';
@import '_mixins';
html, body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
header {
	width: 100%;
}
nav {
	background-color: $primary;	
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 50px;
	padding-right: 10px;
	flex-wrap: wrap;
	position: relative;
	.logo {
		display: flex;
		margin-bottom: 30px;
		margin-top: 10px;
		h2 {
			color: white;
			font-family: 'Merriweather', sans-serif;
		}
		.logo-image{
			margin-top: 5px;
			margin-right: 20px;
		}
	}
	.nav-list {
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
}

.nav-item{
	display: inline-block;
	font-size: 1.3em;
	position: relative;
	padding: 5px;
	@include fade_in_obj(border-bottom, .5s);
	text-align: center;
	border-bottom: 1px solid transparent;
	&:hover{
		text-decoration: none;
		border-bottom: 1px solid white;	
	}
	a{ 
		padding: 10px 20px;
		text-decoration: none;
		color: white;
		
	}
}
// display hamburger in the top left
.hamburger {
	display: none;	
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 5px;
}
.show-navbar {
	display: none;
	border: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	overflow: hidden;
	outline: none;
	cursor: pointer;
	@include mobile_tap(rgba(255, 255, 255, 0)); 
	span {
		display: block;
		background-color: white;
		height: 3px;
		width: 26px;
		margin: 0 auto 5px;
	}
}

.mobile-sidebar {
	display: none;
	background-color: $primary;
	z-index: 1;
	text-align: center;
	width: 100%;
	a {
		display: block;
		padding-top: 15px;
		padding-bottom: 15px;
		color: white;
		text-decoration: none;
		font-family: $header-font;
	}
	a:hover{
		background-color: $button-hover;
		text-decoration: none;
	}
}
@include tablet_portrait{
	.hamburger {
		display: block;
	}
	.show-navbar {
		display: block;
	}
	nav {
		flex-direction: column;
		padding: 0;
		.nav-list {
			display: none;
		}
	}
}
@include mobile_landscape {
	.hamburger {
		display: block;
	}
	.show-navbar {
		display: block;
	}
	nav {
		flex-direction: column;
		padding: 0;
		.nav-list{
			display: none;
		}
	}	
}
@include mobile_portrait {
	.hamburger {
		display: block;
	}
	.show-navbar {
		display: block;
	}
	nav {
		flex-direction: column;
		padding: 0;
		.nav-list{
			display: none;
		}
	}	
}



