/* variables */
$lime-green: #8EE918;
$error-red: #FF2B34;
$light-blue: #5EE1D9;
$dark-blue: #292E4C;
$hover: #25BBFF;
$primary: #044F7A;
$secondary: #4A26FD;
$background: #EEEEEE;
$tertiary: #E0E0E0;
$border-color: #7e7e7e;
$button-hover: #066FAB;
$gradient-top: #DCEBF1;
$general-font: "Sans Serif";
$fade-in-time: .8s;
$breakpoint_width_1: 1300px;
$breakpoint_width_2: 800px;