.footer{
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: solid #292E4C;
	border-width: 3px;
	/*background-color: var(--secondary);*/
}
.copyright{
	font-size: 1.5em;
	text-align: center;
}
.social-media{
	text-align: center;
}
.social-media ul{
	margin-right: 30px;
}
.social-media li{
	display:inline;
}
.social-media a{
	text-decoration: none;
}
.social-media .fab{
	font-size: 30px;
	padding: 10px;
	margin-right:10px;
}


