.footer{
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	background-color: var(--primary);
}
.copyright{
	font-size: 1.5em;
	text-align: center;
}
.credit{
	font-size: .8em;
}
.credit > a {
	text-decoration: none;
}
.credit > a:hover{
	color: var(--hover);
}
.social-media{
	text-align: center;
}
.social-media ul{
	margin-right: 30px;
}
.social-media li{
	display:inline;
}
.social-media a{
	text-decoration: none;
}
.social-media .fab{
	font-size: 30px;
	padding: 10px;
	margin-right:10px;
}
.social-media .fab:hover{
	color: var(--hover);
}

/* Media Queries */
@media screen and (max-width:800px){
	.copyright{
		font-size: 1em;
		padding: 20px;
	}
}

