/* page level */
body {
	height: 100%;
}
header{
	text-align: center;	
}
label{
	margin-top: 16px;
	margin-bottom: 16px;
}

option[selected] {
	font-weight: bold;
}

button{
	cursor: pointer;
}

/* By ID */
#chaptername{
	text-align:center;
}
#verses{
	margin-left:50px;
	margin-right:50px;
	padding-top:30px;
}

#prev{
	margin-left: 65px;	
	margin-top: 30px;
}
#next{
	float: right;
	margin-right: 65px;
	margin-top: 30px;
}

/* by class  */

.sidebar {
	position: fixed;
	width: 200px;
	height: 100%;
	/* light gray */
	background-color: #ccc;
	top: 0;
	left: 0;
	z-index: 1;
} 

.sidebar-separate{
	height: 1px;
	border: 0;
	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
	padding-top:20px;
}
.sidebar h2{
	padding-left:5px;
}

.sidebar a {
	padding: 15px;
	display: block;	
	font-size:1.2em;
}

.sidebar a:hover{
	color: #f1f1f1;
	text-decoration: none;
	background-color: black;
}

.show-sidebar{
	display:none;
	
}
.close-sidebar{
	display:none;
}
.main{
	margin-left:200px;
	padding-left: 20px;
	padding-right: 20px;
} 
/*#submit{
	border-radius: 2px;
	border-color: green;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	margin-top: 16px;
	padding-left: 15px;
	padding-right: 30px;
	margin-bottom: 16px;
}*/

/*#submit:hover{
	transition-duration: 0.4s;
	background-color:  rgb(200, 255 , 100 );
	color: blue;
}
*/
[id*=popover_content]{
	display:none;
}

[id*=form_section]{
	display:none;
}


/* by class */
.verse_btn{
	border-radius: 4px;
	/*
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 16px;*/
	vertical-align: super;
}
.indiv_verse{
	/* rgb(200, 255, 100) = lime green */
	line-height: 2;
	font-size: 1.25em;

}


/* Media Queries */
@media screen and (max-width:800px){
	.sidebar {
		display:none;
	}
	.show-sidebar{
		display:block;	
		font-size: 2em;
		margin-left: 40px;
	}
	.close-sidebar{
		display:block;
	}
	.main{
		margin-left:20px;	
	}
	#verses{
		margin-left: 20px;
		margin-right:20px;
	}
	#prev{
		margin-left:45px;
	}
	#next{
		margin-right:45px;
	}

}