/* page level */
h1, h2{
	font-family:"Roboto";
}
body {
	height: 100%;
	/* light pastel green, overwrite bootstrap white default background */
	background-color: #ABE1D9 !important;
}
header{
	text-align: center;	
}
label{
	margin-top: 16px;
	margin-bottom: 16px;
}

option[selected] {
	font-weight: bold;
}

button{
	cursor: pointer;
}

/* By ID */
#chaptername{
	text-align:center;
}
#verses{
	margin-left:50px;
	margin-right:50px;
	padding-top:30px;
}

#prev{
	margin-left: 65px;	
	margin-top: 30px;
}
#next{
	float: right;
	margin-right: 65px;
	margin-top: 30px;
}

/* by class  */
.alert-panel{
	/* lime green */
	background-color: #8EE918;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
	border-radius:5px;
	-webkit-box-shadow: 8px 7px 7px 1px rgba(168,168,168,0.53);
-moz-box-shadow: 8px 7px 7px 1px rgba(168,168,168,0.53);
box-shadow: 8px 7px 7px 1px rgba(168,168,168,0.53);
}

.header{
	/* light blue */
	background-color: #5EE1D9;
	/*margin-top: 10px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	height: 100%;
	-webkit-box-shadow: 8px 7px 7px 1px rgba(168,168,168,0.53);
-moz-box-shadow: 8px 7px 7px 1px rgba(168,168,168,0.53);
box-shadow: 8px 7px 7px 1px rgba(168,168,168,0.53);
}
.header h1{
	/* Dark Blue */
	color: #292E4C;
}


.main{
	margin-left:200px;
	padding-left: 20px;
	padding-right: 20px;
} 

.select-card{
	margin-top: 10px;
	padding: 10px;
}

.text-display-card{

}

.text-display-header{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 50px;
	margin-right: 50px;
	background-color: #5EE1D9;
	-webkit-box-shadow: 8px 7px 7px 1px rgba(168,168,168,0.53);
	-moz-box-shadow: 8px 7px 7px 1px rgba(168,168,168,0.53);
	box-shadow: 8px 7px 7px 1px rgba(168,168,168,0.53);
}
.text-display-header h2{
	/* Dark Blue */
	color: #292E4C;
}
/*#submit{
	border-radius: 2px;
	border-color: green;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	margin-top: 16px;
	padding-left: 15px;
	padding-right: 30px;
	margin-bottom: 16px;
}*/

/*#submit:hover{
	transition-duration: 0.4s;
	background-color:  rgb(200, 255 , 100 );
	color: blue;
}
*/
[id*=popover_content]{
	display:none;
}

[id*=form_section]{
	display:none;
}


/* by class */
.verse_btn{
	background-color: #241122 !important;
	color: #FFF ;
	border-radius: 5px !important;
	/*
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 16px;*/
	vertical-align: super !important;
}
.verse_btn:hover{
	background-color: #29E191 !important ;	
}
.indiv_verse{
	line-height: 2;
	font-size: 1.25em;

}


/* Media Queries */
@media screen and (max-width:800px){
	/* we account for the margin of the hidden sidebar here */
	/* see sidebar.css for more details */
	#verses{
		margin-left: 20px;
		margin-right:20px;
	}
	#prev{
		margin-left:45px;
	}
	#next{
		margin-right:45px;
	}

}