.login-main{
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-label{
	color: var(--hover); 
}
.login-card{
	margin-top: 20px;
	padding: 40px;
	background-color: var(--primary);
	border-radius: 10px;
}
.login-card > h2{
	font-family: 'Merriweather', sans-serif;
	text-align: center;
	color: var(--hover);
}
.login-card > h3{
	font-family: 'Merriweather', sans-serif;
	color: var(--hover);
}
.link:hover{
	text-decoration: none;
	color: var(--background);
}

@media only screen and (max-width: 800px){
	.login-card{
		margin: 20px 20px 20px 20px;
	}	
}




