.login-main {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
}				
label{
	font-size: 1.2em;
}
.login-card{
	padding: 30px;
	background-color: var(--light-blue-secondary);
	border-radius: 10px;
	width: 100vh;
	height: 50vh;
}
.login-card > h2{
	font-family: 'Merriweather', sans-serif;
	text-align: center;
}
.login-card > h3{
	font-family: 'Merriweather', sans-serif;
}

.login-button {
	margin-top: 15px;
	background: var(--light-blue);	
	border: none;
	padding: 5px;
	border-radius: 5px;
	font-size: 1.2em;
	width: 100%;
	text-align: center;
}
.login-button:hover{
	opacity: .8;
}

@media only screen and (max-width: 800px){
	.login-card{
		margin: 20px 20px 20px 20px;
	}	
}




