.search-bar-section{
	margin-top: 20px;
}
.search-bar{
	width: 95%;
	margin-top: 10px;
	font-size: 1.1em;
	padding: 10px;
	border: none;
	outline: none;
	position: relative;
	left: 30px;
}
.search-bar > input:focus{
}
.search-icon{
	position: absolute;
	top: 0;
	left: 0;
	margin: 20px -12px;
	vertical-align: center;
	font-size: 2em;
	/* same light green color */
	color: var(--hover);
}
.search-bar-submit{
	margin-bottom: 10px;
	margin-right: 15px;
}
.search-bar-submit > span{
}

.search-sbt{
	margin-top:10px;
	margin-left: 20px;
}
.save-checkbox{
	display: inline-block;
	margin: 10px;
}
.save-checkbox > label{
	font-size: 1em;
}
.select-flip{
	margin: 20px;
	display: flex;
	/*flex-direction: column*/
	justify-content: center;
	align-items: center;
}
/*.arrow-left{
	margin-left: 50px;
	font-size: 2em;
	background: transparent;
	border: 0;
	overflow: hidden;
	outline: none;
	cursor: pointer;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}
.arrow-right{
	margin-right: 50px;
	font-size: 2em;
	background: transparent;
	border: 0;
	overflow: hidden;
	outline: none;
	cursor: pointer;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}*/
.flip-container{
	flex: 100%;
	margin: 50px;
	padding: 30px;
	text-align: center;
	/* dark purple*/
	background-color: var(--primary);
	/* background-color: #29E191; */
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.flippable{
	flex: 100%;
	position: relative;
}
.flippable-card-face{
	text-align: center;
	color: #241122;
}
.front{
	padding: 30px;
	/* pastel green */
	background-color: #29E191;
	height: 100%;
	width: 100%;
	cursor: pointer;
}
.back{
	height: auto;
	width: 100%;
	padding: 30px;
	/* light blue */
	background: #5EE1D9;
}
.individual-verse{
	opacity: 0;
	visibility: hidden;
	font-size: 1.2em;
	line-height: 2em;
	font-weight: 500;
	transition: visibility 0.3s linear, opacity 0.3s linear;
}
.verse-number{
	opacity: 0;
	visibility: hidden;
	vertical-align: super;
	transition: visibility 0.3s linear, opacity 0.3s linear;
}
.memory-verse-cards > form{
	width: 30%;
	display: inline-block;
	margin: 10px;
	padding: 10px;
}
.memory-verse-button{
	text-align: center;
	background-color: var(--primary);
	width: 100%;
	height: 100px;
	color: white;
	border: 0;
	cursor: pointer;
	outline: none;
	cursor: pointer;
	font-size: 1.2em;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 

}
.memory-verse-button:hover{
	background-color: var(--button-hover);
}
.memory-card{
	/*text-align: center;
	display: inline-block;
	background-color: var(--primary);
	padding: 10px;
	margin: 10px;
	width: 30%;
	height: 100px;
	color: white;*/
}

@media screen and (max-width:800px){
	.search-bar-section{
		margin-right: 10px;
		margin-left: 10px;
	}
	.search-icon{
		display: none;
	}
	.search-bar{
		left: 0;
		font-size: 1em;
	}
	.memory-card{
		display: block;
		width: 100%;
	}
	.memory-verse-cards > form{
		width: 95%;
		display: block;
		margin: 10px;
		padding: 10px;
	}
	.search-sbt{
		margin-top:10px;
		margin-left:10px;
	}
}