.search-bar-section{
	/* same dark purple as in sidebar.css */
	background-color: #241122;;
	margin-top: 20px;
	width: 100%;
}
.search-bar{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 90%;
	font-size: 1.2em;
	padding: 10px;
	border: none;
	outline: none;
}
.search-icon{
	margin-left: 10px;
	margin-right: 10px;
	font-size: 1.2em;
	/* same light green color */
	color: #29E191;
}
.select-flip{
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	position: relative;
}
.arrow-left{
	position:absolute;
	top: 50%;
	left: 0;
	margin-left: 50px;
	font-size: 2em;
}
.arrow-right{
	position: absolute;
	top: 50%;
	right: 0;
	margin-right: 50px;
	font-size: 2em;
}
.flip-container{
	margin: 50px;
	padding: 30px;
	text-align: center;
	background-color: #29E191;
	border-radius: 5px;
	/* center h2 */
	width: 500px;
	height: 260px;
	perspective: 600px;
}
.flipme{
	transform: rotateY(180deg);
}
.flippable{
	width: 100%;
	height: 100%;
	position: relative;
	transition: .5s;
	transform-style: preserve-3d;
}
.flippable-card-face{
	position: absolute;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
	text-align: center;
	color: white;
}
.front{
	padding: 30px;
	background: red;
}
.back{
	padding: 30px;
	background: blue;
	transform: rotateY( 180deg );
}
.individual-verse{
	font-size: 1.2em;
	line-height: 2em;
	font-weight: 500;
}
.verse-number{
	vertical-align: super;
}
/* Media Queries */
@media screen and (max-width:800px){
	.search-bar-section{
		margin-right: 10px;
		margin-left: 10px;
	}
	.search-bar{
		width: 70%;
	}
}