body, html{
	padding:0;
	margin:0;
	height: 100%;
}
.header{
	width: 100%;
}
.hero-image{
	/* Credit for the image: http://fumcdeming.org/upcoming-events/bible-and-ipod/ */
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("bible_ipod_compressed.jpg"); 
	height: 60vh;
	background-size: cover;
	background-position: bottom;
	position: relative;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero-text{
	border: 2px solid white;
	padding: 10px;
	color: white;
	font-size: 2em;
	font-family: "Merriweather", serif;
}
.nav{
	background-color: var(--dark-purple);
	font-family: "Merriweather", serif;
	padding: 10px;
}
.nav > h2 {
	color: white;
}
.nav > a{
	color: white;
	display: inline-block;
	margin: 2px;
	padding: 10px;
}
.nav a:hover{
	text-decoration: none;
	color: var(--secondary);
}
.nav a:hover i {
	text-decoration: none;
}

/* Media Queries */
@media screen and (max-width:800px){
	.hero-image{
		height: 40vh;
	}
}
