html, body {
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
	font-size: 100%;
}
ul{
	list-style: none;
	padding: 3em;
}
li {
	display: inline-block;
	width: 30%;
	background-color: #ffc;
	padding: 1em;
	margin: 1em;
	word-wrap: break-word;
	-moz-transition:-moz-transform .15s linear;
	-o-transition:-o-transform .15s linear;
	-webkit-transition:-webkit-transform .15s linear;
}
li:hover{
	-webkit-transform: scale(1.25);	
	-moz-transform: scale(1.25);
	-o-transform: scale(1.25);
	z-index: 5;
}
ul>li:nth-child(even){
	background-color: #ccf;
}
ul>li:nth-child(3n){
	background-color: #cfc;
}
@media only screen and (max-width: 1300px){
	li{
		width: 100%;
	}
}
@media only screen and (max-width: 800px){
	ul{
		padding: 1em;
	}
	li {
		display: block;
		padding: 1em;
		margin-top: 1em;
		width: 95%;
	}
	li:hover{
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
	}
}
