.sidebar {
	flex: 0 0 14em;
	/* dark purple */
	background-color: var(--primary);
	z-index: 1;
	border-bottom: 5px solid var(--tertiary);
} 

.mobile-sidebar{
	display: none;
	background-color: var(--primary);
	z-index: 1;
	text-align: center;
}
.mobile-sidebar > a{
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
	color: white;
	text-decoration: none;
}
.mobile-sidebar > a:hover{
	background-color: var(--button-hover);
	text-decoration: none;
}


.sidebar-separate{
	height: 1px;
	border: 0;
	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
	padding-top:5px;
	background-color: var(--tertiary);
}
.sidebar h2{
	color: #FFF;
	padding-left:5px;
}

.sidebar a {
	padding-top: 15px;
	padding-bottom:15px;
	display: block;	
	color: #FFF;
}


.sidebar a:hover{
	color: #f1f1f1;
	text-decoration: none;
	/* light green */
	border-left: 5px solid var(--hover);
}
.sidebar a:hover i {
	color: var(--hover);
	/* adding 5px and setting position relative 
	to the right shifts the i to the left of where it should be  */
	right: 5px;
	position: relative;
}
.sidebar a:hover span{
	color: var(--hover);
	/* adding 5px and setting position relative 
	to the right shifts the span to the left of where it should be  */
	right: 5px;
	position: relative;
}
.sidebar i {
	display:inline-block;
	margin-left: 15px;
	margin-right: 15px;
}

.sidebar .active{
	background-color: var(--primary);
}
.show-sidebar{
	display: none;
	border: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	overflow: hidden;
	outline: none;
	cursor: pointer;
	margin: 15px;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}
.show-sidebar > span{
	display: block;
	background-color:#484848; 
    height:3px; 
    width:26px; 
    margin:0 auto 5px;
}
.close-sidebar{
	display:none;
}

/* Media Queries */
@media screen and (max-width:800px){
	.main{
	}
	.sidebar {
		display:none;
	}
	.show-sidebar{
		display:block;	
		font-size: 2em;
	}
}