.signup-main{
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
}
label{
	font-size: 1.2em;
}
.signup-card{
	padding: 30px;
	background-color: var(--light-blue-secondary);
	border-radius: 10px;
	width: 100vh;
	height: 70vh;
}
.signup-card > h2{
	/*font-family: 'Merriweather', sans-serif;*/
	text-align: center;
	color: var(--hover);
}

.signup-button {
	margin-top: 15px;
	background: var(--light-blue);	
	border: none;
	padding: 5px;
	border-radius: 5px;
	font-size: 1.2em;
	width: 100%;
	text-align: center;
}
.signup-button:hover{
	opacity: .8;
}

@media only screen and (max-width: 800px){
	label{
		font-size: 1em;
	}
	.signup-card > h2{
		font-size: 1.5em;
	}
	.signup-card{
		padding: 10px 20px 0px 20px;
		width: 50vh;
		height: 75vh;
	}	
}