body{
	--img-url: url('bible_ipod_compressed.jpg');
	background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), var(--img-url);
	background-size: cover;
	background-position: bottom center;
}
.signup-main{
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-label{
	color: var(--hover); 
}
.signup-card{
	margin-top: 20px;
	padding: 40px;
	background-color: var(--primary);
	border-radius: 10px;
}
.signup-card > h2{
	font-family: 'Merriweather', sans-serif;
	text-align: center;
	color: var(--hover);
}

.signup-button{
	margin-left: 15px;
}

@media only screen and (max-width: 800px){
	.signup-card{
		margin: 20px 20px 20px 20px;
	}	
}