<!DOCTYPE HTML>
<head>
	<meta charset = "utf-8">
	<!-- responsive -->
	<meta name = "viewport" content = "width=device-width, initial-scale=1">
	<title> Page Not Found </title>
	{% include 'external_includes.html' %}
	<!-- Note: css files go in the static folder in the root folder -->
	<!-- shared includes styling to body and main -->
	<link rel = "stylesheet" type = "text/css" href = "/static/stylesheets/main_structure.css">
</head>
<html>
	<body>
		{% include 'navbar.html' %}
		<div class = "main">
			<div class = "wrapper">
				<h1> Oops! Looks like the page doesn't exist. </h1>
				<a href = "{{ url_for('home_controller.index') }}"> Back to Home </a>
			</div>
		</div>
		{% include "footer.html" %}
	</body>
</html>



