<!DOCTYPE html>
<head>
	<meta charset = "utf-8">
	<!-- responsive -->
	<meta name = "viewport" content = "width=device-width, initial-scale=1">	
	<title> About </title>
	{% include 'external_includes.html' %}
	<link rel = "stylesheet" href = "/static/welcome_pages/welcome_shared.css">
</head>
<style>
</style>
<html>
	<body>
		{% include '/welcome_pages/welcome_nav.html' %}
		<main>
			<div class = "left">
				<h1> About {{ company() }} </h1>	
				<h2> {{ company() }} is a personal project of Jansen Yan </h2>
				<p class = "description"> 
				</p>	
			</div>
			<div class = "right">
			</div>
		</main>
		{% include '/welcome_pages/welcome_footer.html' %}
	</body>
</html>
