<!DOCTYPE html>
<head>
	<meta charset = "utf-8">
	<!-- responsive -->
	<meta name = "viewport" content = "width=device-width, initial-scale=1">	
	<title> About </title>
	{% include 'external_includes.html' %}
	<link rel = "stylesheet" type = "text/css" href = "static/stylesheets/welcome_shared.css">
	<link rel = "stylesheet" type = "text/css" href = "static/stylesheets/about.css">
</head>
<html>
	<body>
		{% include '/welcome_pages/welcome_nav.html' %}
		<main class = "fade-in">
			<div class = "left">
				<h1> About {{ company() }} </h1>	
				<hr>
				<p class = "description"> 
					The goal of BibleJourney is to provide an accessible Bible Study experience.
					Current features include:
						<ul>
							<li> The Old and New Testament available in WEB (World English Bible) Translation. </li>
							<li> Note taking </li>
							<li> Bookmarks </li>
							<li> Memory Verse Flash Cards </li>
						</ul>
				</p>	
				<p class = 'disclaimer'>
					BibleJourney is currently maintained by <a href = "https://jyan500.github.io">Jansen Yan. </a> If you'd like to contribute or if you
					see an error on the site, please feel free to let me know, or visit the <a href = "https://github.com/jyan500/BibleJourney"> Github Repo </a> and 
					submit a pull request. It would be greatly appreciated! 						
				</p>

			</div>
		</main>
		{% include '/welcome_pages/welcome_footer.html' %}
	</body>
</html>
