<!DOCTYPE HTML>
<head>
	<meta charset = "utf-8">
	<!-- responsive -->
	<meta name = "viewport" content = "width=device-width, initial-scale=1">
	<title> Bookmarks </title>
	{% include 'external_includes.html' %}
	<!-- Note: css files go in the static folder in the root folder -->
	<!-- shared includes styling to body and main -->
	<link rel = "stylesheet" href = "/static/stylesheets/main_structure.css">
	<link rel = "stylesheet" href = "/static/stylesheets/bookmarks.css">
	<script type = "text/javascript" src = "/static/bookmarks.js"></script>

</head>
<html>
	<body>
		{% include 'modal.html' %}
		{% include 'navbar.html' %}
		<div class = "main">
			<div class = "wrapper fade-in">
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
							{% if category == "Error" %}
								<div class="alert-panel error shadow fade-in">
							{% elif category == "Success" %}
								<div class="alert-panel success shadow fade-in">
							{% endif %}
								<strong> {{ category }}! </strong>{{message}}
							</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
				<h2> Bookmarks </h2>
				<div class = "bookmarks-list">
					{% for bookmark in bookmark_list %}
						<form id = 'bookmarks_{{bookmark.bookmark_id}}' method = "GET" action = "/paginate">
							<button class = "bookmark"><i class = "fas fa-bookmark fa-fw"></i>{{bookmark.book}} {{bookmark.chapter}}<span id = '{{bookmark.bookmark_id}}' class = "delete-bookmark"> &times;</span></button>
							<input type="hidden" id = "{{bookmark.book}}" name = "selectedBook" value ="{{bookmark.book}}">
							<input type = "hidden" id = "{{bookmark.chapter}}" name = "chapter" value = "{{bookmark.chapter}}">
						</form>
					{% endfor %}
				</div>
			</div>
		</div>
		{% include 'footer.html' %}
	</body>	
</html>