<!DOCTYPE HTML>
<head>
	<meta charset = "utf-8">
	<!-- responsive -->
	<meta name = "viewport" content = "width=device-width, initial-scale=1">
	<link rel = "stylesheet" href = "/static/footer.css">
</head>
<div class = "footer">
	<div class = "copyright">
		<p> Copyright Here </p>
	</div>
	<div class = "social-media">
		<ul>
			<li><a href = "https://github.com/jyan500" target ="_blank"> <i class = "fab fa-github"></i></a></li>
			<li><a href = "#"> <i class = "fab fa-facebook"></i></a></li>
			<li><a href = "#"> <i class = "fab fa-youtube"></i></a></li>
		</ul>
	</div>
</div>