<!DOCTYPE HTML>
<head>
	<meta charset = "utf-8">
	<!-- responsive -->
	<meta name = "viewport" content = "width=device-width, initial-scale=1">
	<link rel = "stylesheet" type = "text/css" href = "static/stylesheets/footer.css">
</head>
<div class = "footer">
	<div class = "copyright">
		<p> © Copyright {{ company() }} {{ date_now("%Y") }} </p>
		<p> All material within {{ company() }} is meant for personal use only.</p>
		<span class = "credit"> Verses are displayed in World English Bible (WEB) Translation </span></br>
		<span class = "credit"> Powered by <a href = 'https://getbible.net/api'> getbible.net </a></span>
		<br>
		<!-- <span class = "credit"> Want to contribute? Please visit our <a href = "https://github.com/jyan500/BibleJourney"> Github Repo </a></span> -->
	</div>
	<!-- <div class = "social-media">
		<ul>
			<li><a href = "https://github.com/jyan500/BibleJourney" target ="_blank"> <i class = "fab fa-github"></i></a></li>
			<li><a href = "#"> <i class = "fab fa-facebook"></i></a></li>
			<li><a href = "#"> <i class = "fab fa-youtube"></i></a></li>
		</ul>
	</div> -->
</div>