<!DOCTYPE HTML>
<head>
	<meta charset = "utf-8">
	<!-- responsive -->
	<meta name = "viewport" content = "width=device-width, initial-scale=1">
	<title> Digital Bible Platform </title>
	<!-- Note: css files go in the static folder in the root folder -->
	<link rel="stylesheet" href="/static/layout.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- import jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled bootstrap JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	

	<script src = "/static/layout.js"></script>
	

</head>
<html>
	<body>
		<div class = "container">
			{% with messages = get_flashed_messages(with_categories=True) %}
				{% if messages %}
					{% for category, message in messages %}
						{% if category == "Success" %}	
						<div class="alert alert-success text-center">
							<strong> Success! </strong>{{message}}
						</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endwith %}
		</div>
		<header class = "page-header">
			<h1> Welcome to Digital Bible Platform </h1>
		</header>
		<!-- form area -->
		<div class = "container form_area">
			<div class = "well">
				<h2> Select a Book of the Bible </h2>
			</div>
			<div class = "form-group">
				<form action = "/" method = "POST" id = "bookform">
					<label for="booklist">Book: </label>
					<select class = "form-control" id = "booklist" name = "booklist" form = "bookform">
						<option value="" disabled selected>Choose your option</option>	
						{% if bookOptions%}
							{% for books in bookOptions %}
								<!-- if saveSelected is true, and the URL param saveSelected (the bookname) is what we selected earlier -->
								{%if saveSelectedBook == books[0] %}
									<option value = "{{saveSelectedBook}}" selected> {{saveSelectedBook}} </option>
								{%else %}
									<option value = "{{books[0]}}"> {{books[0]}} </option>
								{% endif %}
							{% endfor %}
						{% endif %}
					</select>
					
				<!-- if the user has selected a book name, allow them to select a chapter -->
					<!-- Uses AJAX to populate the chapterlist -->
					<label for ="chapterlist">Chapter: </label>
					<select class = "form-control" id = "chapterlist" name = "chapterlist" form = "bookform">
						<option value="" disabled selected>Choose your option</option>
						{% if saveSelectedChapter%}
							{% for chapter in chapterOptions %}
								{% if saveSelectedChapter == chapter %}
									<option value = " {{saveSelectedChapter}} " selected> {{saveSelectedChapter}} </option>
								{% else %}
									<option value = " {{chapter}} "> {{chapter}} </option>
								{% endif %}
							{% endfor %}
						{% endif %}
					</select>
					<br>
					<button type = "submit" class = "btn btn-primary">Submit</button>
				</form>
			</div>
		</div>

		<!-- text display area -->	
		{% if selectedVerses%}
			<div class = "container text_display">
				<div class = "panel panel-default">
					<div class = "panel-heading">
						<h2 id = "chaptername"> Chapter {{saveSelectedChapter}} </h2>	
					</div>
					<div class = "panel-body">
						<p id = "verses">
					 		{% for verses in selectedVerses%}
					 			<!-- loop.index is a loop counter that is built-in to jinja, 
					 				use this instead of declaring a counter yourself due to jinja scoping rules -->
					 			{% if loop.index % 5 == 0 %}
					 				<br>
					 				<br>
								{%endif%}
								<!-- display the verse number as a bootstrap popover -->
								<button id = "popover" class = "btn btn-xs verse_btn" title = "your note" data-toggle="popover" data-placement="top">{{verses[1]}}</button>
								<!-- display the verse itself -->
								<span class= "indiv_verse">{{ verses[0] }}</span>
							{% endfor %}
						</p>
					</div>
				</div>
			</div>
		{% endif %}

		<!-- text area that displays in the popover -->
		<div id = "popover_content">
			<!-- the popover should contain any content that the user has saved before -->
			<div id = "existing_notes_section">
				<p id = "existing_notes">Your Notes here</p>
				<button class = "btn btn-sm Edit"> Edit </button>
			</div>
			<form id = "form_section" method = "POST" action = "/note_process_post">
				<textarea id = "note_section" name = "note_section" row = 3>
				</textarea>
				<button type = "submit" class = "btn btn-sm Save"> Save </button>
			</form>
			<button class = "btn btn-sm Cancel"> Cancel </button>
		
		</div>

	
				
	</body>
</html