<!DOCTYPE HTML>
<head>
	<meta charset = "utf-8">
	<!-- responsive -->
	<meta name = "viewport" content = "width=device-width, initial-scale=1">
	<title> Login </title>
	<!-- Note: css files go in the static folder in the root folder -->
	{% include 'external_includes.html' %}
	<link rel = "stylesheet" href = "/static/stylesheets/welcome_shared.css">
	<link rel = "stylesheet" href = "/static/stylesheets/login.css">
</head>
<html>
	<body>
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					{% if category == "Error" %}
						<div class="alert-panel error shadow fade-in">
					{% else %}
						<div class = "alert-panel success shadow fade-in">
					{% endif %}
						<strong> {{ category }}! </strong>{{message}}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		{% include '/welcome_pages/welcome_nav.html' %}
		<main>
			<div class = "login-main fade-in">
				<div class = "login-card">
					<h2> Login </h2>
					<form action = "/login" method = "POST">
						<label for = "Username"><b>Username:</b></label>
						<input type = "text" name = "username" placeholder = "Username">
						<label for = "password"><b>Password:</b></label>
						<input type="password" name = "password" placeholder = "Password">
						<button class = "login-button" type="submit" >Submit</button>
						<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
					</form>
				</div>
			</div>
		</main>
		{% include '/welcome_pages/welcome_footer.html' %}
	</body>
</html>
