<!DOCTYPE HTML>
<head>
	<meta charset = "utf-8">
	<!-- responsive -->
	<meta name = "viewport" content = "width=device-width, initial-scale=1">
	<title> Digital Bible Platform </title>
	{% include 'external_includes.html' %}
	<!-- Note: css files go in the static folder in the root folder -->
	<link rel="stylesheet" href="/static/snackbar.css">
	<!-- shared includes styling to body and main -->
	<link rel = "stylesheet" href = "/static/shared.css">
	<link rel = "stylesheet" href = "/static/memory_verse.css">
</head>
<html>
	<body>
		{% include 'sidebar.html' %}	
		<div class = "main">
			<div class = "header shadow">
				<h1>
					Memory Verses
				</h1>			
			</div>
			<div class = "search-bar-section shadow">
				<span class = "search-icon"><i class = "fa fa-search fa-fw"></i></span>
				<input type = "text" class = "search-bar " placeholder = "Search for a specific passage..." >	
			</div>
			{% include 'footer.html' %}
		</div>
	</body>
</html>