<!DOCTYPE HTML>
<head>
	<meta charset = "utf-8">
	<!-- responsive -->
	<meta name = "viewport" content = "width=device-width, initial-scale=1">
	<title> Digital Bible Platform </title>
	{% include 'external_includes.html' %}
	<!-- Note: css files go in the static folder in the root folder -->
	<link rel="stylesheet" href="/static/snackbar.css">
	<!-- shared includes styling to body and main -->
	<link rel = "stylesheet" href = "/static/shared.css">
	<link rel = "stylesheet" href = "/static/memory_verse.css">
	<script src = "/static/memory_verse.js"></script>
</head>
<html>
	<body>
		{% include 'sidebar.html' %}	
		<div class = "main">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						{% if category == "Error" %}
							<div class="alert-panel error shadow">
						{% endif %}
							<strong> {{ category }}! </strong>{{message}}
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<div class = "header shadow">
				<h1>
					Memory Verses
				</h1>			
			</div>
			<form name = "memory-verse-form" method = "POST" action = '/memory_verse' class = "search-bar-section shadow">
				<span class = "search-icon"><i class = "fa fa-search fa-fw"></i></span>
				<input value = "{{ saved_verse }}" name = "verse-input" type = "text" class = "search-bar" placeholder = "Search for a specific passage...">
				<button class = "search-bar-submit" type = 'submit'> Submit </button>
			</form>
			{% if selected_verses and saved_verse %}
			<div class = 'select-flip'>
				<span class = "arrow-left"><i class = "fa fa-arrow-left"></i></span>
				<div class = 'flip-container'>
					<div class = "flippable">
						<div class = "flippable-card-face front">
							<h2> {{ saved_verse }} </h2>		
						</div>
						<div class = "flippable-card-face back">
							{% for verses in selected_verses %}
								<span class = 'verse-number'> {{verses[1]}} </span>
								<span class = 'individual-verse'> {{ verses[0] }} </span>
							{% endfor %}	
						</div>
					</div>
				</div>
				<span class = "arrow-right"><i class = "fa fa-arrow-right"></i></span>
			</div>
			{% endif %}
			{% include 'footer.html' %}
		</div>
	</body>
</html>