<!DOCTYPE HTML>
<head>
	<meta charset = "utf-8">
	<!-- responsive -->
	<meta name = "viewport" content = "width=device-width, initial-scale=1">
	<title> Memory Verse </title>
	{% include 'external_includes.html' %}
	<!-- Note: css files go in the static folder in the root folder -->
	<link rel="stylesheet" type = "text/css" href="static/stylesheets/snackbar.css">
	<!-- shared includes styling to body and main -->
	<link rel = "stylesheet" type = "text/css" href = "static/stylesheets/main_structure.css">
	<link rel = "stylesheet" href = "static/stylesheets/memory_verse.css">
	<script type = "text/javascript" src = "static/memory_verse.js"></script>
</head>
<html>
	<body>
		{% include 'modal.html' %}
		{% include 'navbar.html' %}
		<div class = "main">
			<div class = "wrapper fade-in">
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
							{% if category == "Error" %}
								<div class="alert-panel error shadow fade-in">
							{% elif category == "Success" %}
								<div class="alert-panel success shadow fade-in">
							{% endif %}
								<strong> {{ category }}! </strong>{{message}}
							</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
				<h2> Memory Verses </h2>
				<form name = "memory-verse-form" method = "POST" action = '/memory_verse'>
					<div class = "search-bar-section">
						<div class = "search-bar">
							<span class = "search-icon"><i class = "fa fa-search fa-fw"></i></span>
							<input value = "{{ saved_verse }}" name = "verse-input" type = "text" class = "search-bar" placeholder = "Search for a specific passage...">
						</div>
						<div class = "search-bar-submit">
							<input type = 'submit' value = "Submit" class = 'submit-button search-sbt' ></input>
							{% if selected_verses and saved_verse %}
								{% if not is_bookmark %}
									<div class = "save-checkbox">
										<input type = "checkbox" value = '1' name = "save-verse">
										<label for = "save-verse"> Bookmark this Verse (Click submit again to save) </label>
									</div>
								{% elif is_bookmark %}
									<span> You've already bookmarked this verse! </span>
								{% endif %}
							{% endif %}
						</div>
					</div>
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
				</form>
				{% if selected_verses and saved_verse %}
				<div class = 'select-flip'>
					<!-- <button class = "arrow-left"><i class = "fa fa-arrow-left"></i></button> -->
					<div class = 'flip-container'>
						<div class = "flippable">
							<div class = "flippable-card-face front">
								<h2> {{ saved_verse }} </h2>		
							</div>
							<div class = "flippable-card-face back">
								{% for verses in selected_verses %}
									<span class = 'verse-number'> {{verses.verse}} </span>
									<span class = 'individual-verse'> {{ verses.text }} </span>
								{% endfor %}	
							</div>
						</div>
					</div>
					<!-- <button class = "arrow-right"><i class = "fa fa-arrow-right"></i></button> -->
				</div>
				{% elif memory_dict %}
				<div class = "memory-verse-cards">
					{% for verses in memory_dict %}
						<!-- <div class = "memory-card"> -->
							<form method = 'GET' action = '/saved_memory_verse'>
								{% if verses['end_verse'] != 0 %}
									<button type = "submit" class = "memory-verse-button"> {{ verses['book'] }} {{ verses['chapter']}}:{{ verses['start_verse'] }}-{{verses['end_verse']}}<span id = "{{verses['id']}}" class = "delete-verse"> &times;</span></button>
								{% else %}
									<button type = "submit" class = "memory-verse-button"> {{ verses['book'] }} {{ verses['chapter']}}:{{ verses['start_verse'] }} <span id = "{{verses['id']}}" class = "delete-verse"> &times;</span></button>
								{% endif %}
								<input type = 'hidden' id = "{{verses['book']}}"" name = 'book' value = "{{verses['book']}}">
								<input type = 'hidden' id = "{{verses['chapter']}}" name = 'chapter' value = "{{verses['chapter']}}">
								<input type = 'hidden' id = "{{verses['start_verse']}}" name = 'start_verse' value = "{{verses['start_verse']}}">
								<input type = 'hidden' id = "{{verses['end_verse']}}" name = 'end_verse' value = "{{verses['end_verse']}}">
							</form>
						<!-- </div> -->
					{% endfor %}
				</div>
				{% endif %}
			</div>
		</div>
		{% include 'footer.html' %}
	</body>
</html>