<!DOCTYPE html>
<head>
	<link rel = "stylesheet" href = "/static/modal.css"></style>
	<script src = "/static/modal.js"></script>	
</head>
<html>
	<body>
		<div class = "modal">
			<div class = "modal-content">
				<form class = "submit-modal" method = "POST">
					<p> Are you sure you want to delete? </p>				
					<button class = "close-modal">&times;</button>
					<button class = "ok-modal" > OK </button>
					<button class = "cancel-modal"> Cancel </button>
					<input class = "id-to-submit" name = "id-to-submit" type = "hidden" value = ""/>
				</form>
			</div>
		</div>
	</body>	
</html>