<!DOCTYPE html>
<head>
	<link rel = "stylesheet" type = "text/css" href = "/static/stylesheets/modal.css"></style>
	<script type = "text/javascript" src = "/static/modal.js"></script>	
</head>
<html>
	<body>
		<div class = "modal fade-in">
			<div class = "modal-content">
				<form class = "submit-modal" method = "POST">
					<p><strong>Are you sure you want to delete?</strong></p>				
					<button class = "close-modal">&times;</button>
					<button class = "cancel-modal submit-button"> Cancel </button>
					<button class = "ok-modal submit-button" > OK </button>
					<input class = "id-to-submit" name = "id-to-submit" type = "hidden" value = ""/>
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>					
				</form>
			</div>
		</div>
	</body>	
</html>