<!-- full navbar -->
<!DOCTYPE HTML>
<head>
	<meta charset = "utf-8">
	<!-- responsive -->
	<meta name = "viewport" content = "width=device-width, initial-scale=1">
	<link rel = "stylesheet" type = "text/css" href = "static/stylesheets/navbar.css">
	<script type = "text/javascript" src = "static/navbar.js"></script>
</head>
<html>
	<body>
		<header>
			<nav>
				<div class = "hamburger">
					<button class = "show-navbar">
						<span></span>
						<span></span>
						<span></span>
					</button>
				</div>
				<div class = "logo"> 
					<img class = "logo-image" src = "/static/favicon.ico"/>	
					<h2>{{company()}}</h2>
				</div>

				<ul class = "nav-list">
					<li class = "nav-item"><a href = "/">Home</a></li>	
					<li class = "nav-item"><a href = "/note_show_controller">Notes</a></li>	
					<li class = "nav-item"><a href = "/bookmarks"> Bookmarks </a></li>	
					<li class = "nav-item"><a href = "/memory_verse">Memory Verses</a></li>
					<li class = "nav-item"><a href = "/logout">Logout</a></li>	
				</ul>
				<div class = "mobile-sidebar">
					<a href = "/"><span>Home</span> </a>
					<a href = "/note_show_controller"><span> Notes</span> </a>
					<a href = "/bookmarks"><span> Bookmarks</span> </a>
					<a href = "/memory_verse"><span> Memory Verses </span></a>
					<a href = "/logout"></i> <span> Logout</span> </a>
				</div>
			</nav>
		</header>
	</body>
</html>