<!-- full navbar -->
<!DOCTYPE HTML>
<head>
	<meta charset = "utf-8">
	<!-- responsive -->
	<meta name = "viewport" content = "width=device-width, initial-scale=1">
	<link rel = "stylesheet" href = "/static/stylesheets/navbar.css">
	<script src = "/static/navbar.js"></script>
</head>
<html>
	<body>
		<header>
			<nav>
				<div class = "logo"> 
					<img class = "logo-image" src = "/static/favicon.ico"/>	
					<h2>{{company()}}</h2>
				</div>
				<ul class = "nav-list">
					<li class = "nav-item"><a href = "/">Home</a></li>	
					<li class = "nav-item"><a href = "/note_show_controller">Notes</a></li>	
					<li class = "nav-item"><a href = "/bookmarks"> Bookmarks </a></li>	
					<li class = "nav-item"><a href = "/memory_verse">Memory Verses</a></li>
					<li class = "nav-item"><a href = "/logout">Logout</a></li>	
				</ul>
			</nav>
		</header>
	</body>
</html>