<!-- full navbar -->
<!DOCTYPE HTML>
<head>
	<meta charset = "utf-8">
	<!-- responsive -->
	<meta name = "viewport" content = "width=device-width, initial-scale=1">
	<link rel = "stylesheet" href = "/static/navbar.css">
	<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Merriweather" rel="stylesheet">
	<!-- <script src = "/static/sidebar.js"> </script> -->
</head>
<html>
	<body>
		<header>
			<div class = "hero-image">
				<div class = "hero-text">
					<h1> Digital Bible Platform </h1>
				</div>
			</div>
		</header>
	</body>
</html>