<!DOCTYPE HTML>
<head>
	<meta charset = "utf-8">
	<!-- responsive -->
	<meta name = "viewport" content = "width=device-width, initial-scale=1">
	<title> Signup </title>
	{% include 'external_includes.html' %}
	<link rel = "stylesheet" href = "/static/stylesheets/welcome_shared.css">
	<link rel = "stylesheet" href = "/static/stylesheets/signup.css">
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<html>
	<body>
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					{% if category == "Error" %}
						<div class="alert-panel error">
							<strong> Error! </strong>{{message}}
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endwith %}
		{% include '/welcome_pages/welcome_nav.html' %}
		<main>
			<div class = "signup-main fade-in">
				<div class = "signup-card">
					<h2>
						Signup
					</h2>
					<form action = "/signup" method = "POST">
						<label for = "Username">Username: </label>
						<input type = "text" name = "username" id = "username" placeholder = "Username">
						<label for = "password">Password: </label>
						<input type="password"  name = "password" id = "password" placeholder = "Password">
						<label for = "password_confirmation"> Please Re-type Password: </label>
						<input type = "password" name = "password_conf" id = "password_conf" placeholder = "Re-type Password">
						<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
						<button type="submit" class = "signup-button">Submit</button>	
						<div class = "g-recaptcha" data-sitekey = "{{ recaptcha_site_key }}"></div>
					</form>
				</div>	
			</div>
		</main>
		{% include '/welcome_pages/welcome_footer.html' %}
	</body>
</html>
