<!DOCTYPE HTML>
<head>
	<meta charset = "utf-8">
	<!-- responsive -->
	<meta name = "viewport" content = "width=device-width, initial-scale=1">
	<title> Signup </title>
	{% include 'external_includes.html' %}
	<link rel="stylesheet" href="/static/signup.css">
	<link rel = "stylesheet" href = "/static/shared.css">	
</head>
<html>
	<body>
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					{% if category == "Error" %}
						<div class="alert alert-danger text-center fade-in">
							<strong> Error! </strong>{{message}}
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endwith %}
		<div class = "signup-main">
			<div class = "signup-card">
				<h2>
					Welcome, please enter the following information to make a user account 	
				</h2>
				<form action = "/signup" method = "POST">
					<div class = "form-group">
						<label class = "form-label" for = "Username">Username: </label>
						<input type = "username" class = "form-control" name = "username" id = "username" placeholder = "Username">
					</div>
					<div class = "form-group">
						<label class = "form-label" for = "password">Password: </label>
						<input type="password" class = "form-control" name = "password" id = "password" placeholder = "Password">
					</div>
					<div class = "form-group">
						<label class = "form-label" for = "password_confirmation"> Please Re-type Password: </label>
						<input type = "password" class = "form-control" name = "password_conf" id = "password_conf" placeholder = "Re-type Password">
					</div>
					<button type="submit" class = "submit-button">Sign Up</button>	
				</form>
			</div>
		</div>
	</body>
</html>
