<!DOCTYPE html>
<head>
	<meta charset = "utf-8">
	<!-- responsive -->
	<title> Welcome </title>
	<meta name = "viewport" content = "width=device-width, initial-scale=1">	
	{% include 'external_includes.html' %}
	<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'welcome_shared.css') }}">
	<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='welcome.css') }}">
</head>
<html>
	<body>
		{% include '/welcome_pages/welcome_nav.html' %}		
		<main class = 'fade-in'>
			<div class = "left">
				<h1> BibleJourney </h1>	
				<h2> A Bible Notetaking Website </h2>
				<p class = "description"> 
				</p>	
			</div>
			<div class = "right">
				<div class = "image"></div>
			</div>
		</main>
		{% include '/welcome_pages/welcome_footer.html' %}

	</body>
</html>
